div
{
	display: block;
}
.navbar
{
	background-color: #3B5998;
}
.navbar-inverse
{
	background-color: #3B5998;
	height: 38px;
}
#search-btn.btn.btn-default
{
	position:relative; top:0px;left: -41px;
	background-color: #f6f7f8;
	height: 35px;
	border-color: transparent;
	border:2px inset;
	border-left-color: transparent;


}
.navbar-inverse .navbar-nav>li>a
{
    color: white;
}



#mainContainer
{
	background-color: #eeeeee;
}
#rightPagelet
{
	width: 280px;
	height: 407px;
	background-color: #fff;
}
#box
{
	position: absolute;
}
#search-icon
{
	background-image: url(search.png);
	background-size: 14px 19px;
	cursor: pointer;
	float: right;
	opacity: 0.55;
}
#search-facebook
{
	width: 495px;
	height: 35px;
	border-radius: 5px;

}

img
{
	position: relative;
	top: -10px;
	border-radius: 5px;
}
.#button-holder img{
    margin:4px;
    width:20px; 
    height: 38px;
}
#left_sidebar
{
	width: 100px;
	text-align: center;
	padding-left: 100px;
}
#share,#Box, #Box2
{
	
	position: relative;
    left: -180px;
	float: center;
	padding-top: 20px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {

background-color: transparent;
}
.navbar-nav>li>a {
    padding-bottom: 0px;
}

#parent
{
	width: 494px;
	height: 150px;
}
#left_sidebar
{
    color: black;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
}
.facebook-share-box {
    width: 100%;
}
.facebook-share-box .share {
    -webkit-transition: 0.1s ease-out height;
    -moz-transition: 0.1s ease-out height;
    -ms-transition: 0.1s ease-out height;
    -o-transition: 0.1s ease-out height;
    transition: 0.1s ease-out height;
    clear: both;
    background: white;
    border: 2px solid #dddddd;
    margin-bottom: 10px;
    position: relative;
}
 
.facebook-share-box .share .arrow {
    background: url(arrow.png) no-repeat #dddddd;
    position: absolute;
    width: 14px;
    height: 10px;
    left: 4px;
    display: inline;
    top: -10px;
    -webkit-transition: 0.3s ease-out all;
    -moz-transition: 0.3s ease-out all;
    -ms-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
}
.caret
{
    color: white;
}
#Box
{
    display: none;
}
#Box2
{
    display: none;
}
.right_sidebar
{
    background-color: white;
    width: 280px;
    height: 265px;
    float: right;
    margin-left: 680px;
    margin-top: -150px;
    position: fixed;
    
}
.nav.navbar-nav li
{
    color: white;
}
 
.facebook-share-box .post-types li a {
    color: #085083;
    text-decoration: none;
}
 
.facebook-share-box .post-types li a.active {
    color: #404040;
}
 
.facebook-share-box .post-types {
    padding-left: 5px;
}
 
.facebook-share-box ul {
    list-style: none;
    margin-bottom: 9px;
}
 
.facebook-share-box .post-types li {
    display: inline;
    margin-right: 10px;
}
 
.message {
    border-radius: 0;
    border: none;
}
.panel {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}
 
.privacy-dropdown {
    width: 100px;
}
body
{
	background-color: #eeeeee;
}